<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="details-container">
      <div class="details-pokemon-card">
        <div class="details-name-picture">
          <form action="/index" method="post">
            <div class="details-image"><input type="text" name="img" value="add your url"></div>
            <label for="pokemon-type">
              <input type="text" name="name" value="Give it a Name" class="details-name" id="name-editing-field"/>
            </label>
          </div>
          <div class="details-type">

            <label>
              Type:
              <select name="type[0]">
                <option value="">&nbsp;</option>
                <option value="Normal">Normal</option>
                <option value="Fire">Fire</option>
                <option value="Water">Water</option>
                <option value="Grass">Grass</option>
                <option value="Electric">Electric</option>
                <option value="Ice">Ice</option>
                <option value="Fighting">Fighting</option>
                <option value="Poison">Poison</option>
                <option value="Ground">Ground</option>
                <option value="Flying">Flying</option>
                <option value="Psychic">Psychic</option>
                <option value="Bug">Bug</option>
                <option value="Rock">Rock</option>
                <option value="Ghost">Ghost</option>
                <option value="Dragon">Dragon</option>
                <option value="Dark">Dark</option>
                <option value="Steel">Steel</option>
                <option value="Fairy">Fairy</option>
              </select>
            </label>
            <label>
              <select name="type[1]">
                <option value="">&nbsp;</option>
                <option value="Normal">Normal</option>
                <option value="Fire">Fire</option>
                <option value="Water">Water</option>
                <option value="Grass">Grass</option>
                <option value="Electric">Electric</option>
                <option value="Ice">Ice</option>
                <option value="Fighting">Fighting</option>
                <option value="Poison">Poison</option>
                <option value="Ground">Ground</option>
                <option value="Flying">Flying</option>
                <option value="Psychic">Psychic</option>
                <option value="Bug">Bug</option>
                <option value="Rock">Rock</option>
                <option value="Ghost">Ghost</option>
                <option value="Dragon">Dragon</option>
                <option value="Dark">Dark</option>
                <option value="Steel">Steel</option>
                <option value="Fairy">Fairy</option>
              </select>
            </label>
          </div>
          <div class="details-stats">
            <div class="stats-row">
              <div class="stats-names">HP</div>
              <input type="number" name="hp" value=""></div>
            
            <div class="stats-row">
              <div class="stats-names">Attack</div>
              <input type="number" name="attack" value=""></div>
            
            <div class="stats-row">
              <div class="stats-names">Defense</div>
              <input type="number" name="defense" value=""></div>
            
            <div class="stats-row">
              <div class="stats-names">Special Attack</div>
              <input type="number" name="spattack" value=""></div>
            
            <div class="stats-row">
              <div class="stats-names">Special Defense</div>
              <input type="number" name="spdefense" value=">"></div>
            
            <div class="stats-row">
              <div class="stats-names">Speed</div>
              <input type="number" name="speed" value=""></div>
            
          </div>
          <div class="buttons-container">
            <input type="submit" value="Add Pokemon" id="add"/>
          </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
