<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <h1>individual page</h1>
    <% console.log(pokemonName) %>
    <div class="top-container">
      <div class="name"><%= pokemonName.name %></div>
    </div>
  </body>
</html>
